<div class="container m-5">
    <h1>All Questions</h1>
    <p>{{ laskuri }} questions</p>
    <hr>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let kysymys of kysymykset">
            <p><b>{{kysymys.title.rendered}}</b>
                <span>[ post id: {{ kysymys.id }} ] </span>
            </p>
            <p [innerHTML]='kysymys.excerpt.rendered'></p>
            <span>[ tag ids: </span>
            <span *ngFor="let tagi of kysymys.tags">
                <a href="#" class="badge bg-secondary"> {{ tagi }}</a>&nbsp;
            </span>
            <span>] </span>
            <span>Posted on: {{ kysymys.date | date:'longDate' }}</span>
        </li>
    </ul>

    <hr>

</div>