<div class="container m-5">
    <h1>All Questions</h1>
    <p>{{ laskuri }} questions</p>
    <hr>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let kysymys of yhdistettyArray">
            <p><b>{{kysymys.title.rendered}}</b>
            </p>
            <p [innerHTML]='kysymys.excerpt.rendered'></p>
            <span *ngFor="let tagi of kysymys.tag_names">
                <a href="#" class="badge bg-secondary">{{ tagi }}</a>&nbsp;
            </span>
            <span>{{ kysymys.date | date:'medium' }}</span>
        </li>
    </ul>

    <hr>

</div>