.omaAlert {
    color: red;
}
.overflow{
    max-height: 125px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.list-group-otsake {
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
}